# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.eggs
*.env
*.venv
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
local_settings.py
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Other
*.swp
*.swo

# Database
*.db
*.sqlite3

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Test
.tox/
.pytest_cache/

# Node
node_modules/
